.rdrnDay {
  box-sizing: inherit;
  width: calc(100% / 7);
  position: relative;
  font: inherit;
  cursor: pointer;
}

.rdrnDayNumber {
  display: block;
  position: relative;
  span{
    color: #1d2429;
  }
}

.rdrnDayDisabled {
  cursor: not-allowed;
}

@supports (-ms-ime-align: auto) {
  .rdrnDay {
    flex-basis: 14.285% !important;
  }
}

.rdrnSelected, .rdrnInRange, .rdrnStartEdge, .rdrnEndEdge{
  pointer-events: none;
}

.rdrnInRange{}

.rdrnDayStartPreview, .rdrnDayInPreview, .rdrnDayEndPreview{
  pointer-events: none;
}

.rdrnDayHovered{}

.rdrnDayActive{}
