.rdrnDefinedRangesWrapper{}

.rdrnStaticRanges{
  display: flex;
  flex-direction: column;
}

.rdrnStaticRange{
  font-size: inherit;
}

.rdrnStaticRangeLabel{}

.rdrnInputRanges{}

.rdrnInputRange{
  display: flex;
}

.rdrnInputRangeInput{}
