.rdrnCalendarWrapper {
  box-sizing: border-box;
  background: #ffffff;
  display: inline-flex;
  flex-direction: column;
  user-select: none;
}

.rdrnDateDisplay{
  display: flex;
  justify-content: space-between;
}

.rdrnDateDisplayItem{
  flex: 1 1;
  width: 0;
  text-align: center;
  color: inherit;
  & + &{
    margin-left: 0.833em;
  }
  input{
    text-align: inherit;
    &:disabled{
      cursor: default;
    }
  }
}

.rdrnDateDisplayItemActive{}

.rdrnMonthAndYearWrapper {
  box-sizing: inherit;
  display: flex;
  justify-content: space-between;
}

.rdrnMonthAndYearPickers{
  flex: 1 1 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rdrnMonthPicker{}

.rdrnYearPicker{}

.rdrnNextPrevButton {
  box-sizing: inherit;
  cursor: pointer;
  outline: none;
}

.rdrnPprevButton {}

.rdrnNextButton {}

.rdrnMonths{
  display: flex;
}

.rdrnMonthsVertical{
  flex-direction: column;
}

.rdrnMonthsHorizontal > div > div > div{
  display: flex;
  flex-direction: row;
}

.rdrnMonth{
  width: 27.667em;
}

.rdrnWeekDays{
  display: flex;
}

.rdrnWeekDay {
  flex-basis: calc(100% / 7);
  box-sizing: inherit;
  text-align: center;
}

.rdrnDays{
  display: flex;
  flex-wrap: wrap;
}

.rdrnDateDisplayWrapper{}

.rdrnMonthName{}

.rdrnInfiniteMonths{
  overflow: auto;
}